/* App样式 */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: url('lake-6798400_1280.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header样式 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}

/* Section样式 */
.content section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* 表单样式 */
.formGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.formGroup input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px;
}

.primaryButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.secondaryButton {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.primaryButton:disabled,
.secondaryButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* NFT画廊样式 */
.nftGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* 出售列表样式 */
.saleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.saleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* 居中容器样式 */
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 让容器高度占满屏幕 */
  text-align: center;
  background: url('lake-6798400_1280.jpg') no-repeat center center fixed;
  background-size: cover;
}

.centerContainer h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
}

.centerContainer .primaryButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* 禁用按钮样式 */
.primaryButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
